@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================================
                    Header Section
================================= */
.header {
  background: url(../images/Rectangle1.png);
  display: flex;

  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  width: 100%;
  height: 100%;
  padding: 10%;
  background: #23232380;
}

.header-left {
  width: 50%;
}
.header-left h1 {
  font-size: 3.6em;
  font-family: lato;
  font-weight: 900;
  color: #fff;
}
.header p {
  font-family: "Lato";
  color: #fff;
  font-size: 0.98em;
  margin: 2.5em 0;
  line-height: 1.8;
  width: 530px;
}
.header button {
  background: #e55473;
  border: 0px;
  padding: 1em 2em;
  color: #fff;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}
.header-right {
  width: 50%;
}

/* =================================
                  Abailable Flowers
================================= */
.abailable_flowers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 5em 10%; */
  width: 80%;
  margin: 4em auto;
  border: 2px solid red;
}

.abilable_flowers_left {
  text-align: center;
}
.abilable_flowers_left h1 {
  font-family: "Lato";
  font-weight: 900;
  color: #272727;
  font-size: 1.5em;
}
.abilable_flowers_left span {
  width: 450px;
  display: block;
  font-size: 0.88em;
  font-family: "Lato";
  color: #27272799;
  margin: 1.2em;
}

.abailable_flowers_right {
  text-align: center;
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  grid-gap: 15px;
  margin: 1.3em 0px;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: stretch;
}
.flower_group {
  padding-bottom: 5em;
}
.flower_img {
}
.flower_img {
  background: #27272708;
  height: 100%;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2em 0em 0 0;
}
.flower_group p {
  font-family: lato;
  font-weight: 700;
  margin: 1em 0;
  font-size: 1em;
}
.flower_group img {
  width: 45%;
}

.flower_info span {
  font-family: "Lato";
  color: #e55473;
  font-size: 0.9em;
  font-weight: 700;
}

.abailable_flowers button {
  padding: 1em 2em;
  font-family: "lato";
  font-size: 0.85em;
  border: 1px solid #e55473;
  border-radius: 8px;
  background: #fff;
  color: #e55473;
  font-weight: 700;
  cursor: pointer;
}
/* =================================
                  Features Flowers
================================= */
.fretures_flower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.features_flower_left {
  text-align: center;
}
.features_flower_left h1 {
  font-family: "Lato";
  font-weight: 900;
  color: #272727;
  font-size: 1.5em;
}
.features_flower_left span {
  width: 450px;
  display: block;
  font-size: 0.88em;
  font-family: "Lato";
  color: #27272799;
  margin: 1.2em;
}

.features_flower_right {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1.2em;
  margin: 1.3em 0px;
  width: 100%;
  justify-content: center;
}
.feature_group {
  padding-bottom: 5em;
  width: 100%;
}

.feature_img {
  background: #27272708;
  height: 100%;
  border-radius: 150px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0em 0 0;
}

.border_radius_solid {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.feature_group p {
  font-family: lato;
  font-weight: 700;
  margin: 1em 0;
  font-size: 1em;
}
.feature_group img {
  width: 45%;
}

.fratures_info span {
  font-family: "Lato";
  color: #e55473;
  font-size: 0.9em;
  font-weight: 700;
}

/* =================================
                  Signup Flowers
================================= */

.signup {
  background: #e554730d;
  display: flex;
  box-sizing: border-box;
  padding: 5em;
  width: 80%;
  margin: 3em auto;
  border-radius: 8px;
}
.signup_left {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup_left_top {
  width: 100%;
}
.signup_left_top h4 {
  font-family: Ephesis;
  font-size: 2.5em;
  font-weight: 300;
  color: #e55473;
}
.signup_left_top h2 {
  width: 100%;
  margin: 1em 0;
  font-family: "Lato";
  font-weight: 900;
  font-size: 1.7em;
}
.signup_left_top span {
  color: #e55473;
}
.signup_left_top p {
  width: 100%;
  font-size: 0.9em;
  font-family: lato;
  line-height: 1.8;
  color: #27272799;
}

.signup_left_bottom {
  width: 100%;
}
.signup_left_bottom .timer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  grid-gap: 15px;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}
.time_group {
  background: #fff;
  font-family: lato;
  width: 85px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
.time_number {
  font-weight: 900;
  font-size: 1.2em;
  font-family: lato;
}

.time_text {
}

.signup_right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.signup_right img {
  width: 100%;
}

.time_group hr {
  width: 70px;
  margin: 0.5em 0;
  border: 1px solid #0000001a;
}

.selected_time {
  background: #e554730d;
}

.selected_time {
  background: #e554730d;
  color: #e55473;
  border: 1px solid #e55473;
}
.selected_time .time_number {
  color: #e55473;
}
.selected_time .time_text {
  color: #e55473;
}
.selected_time hr {
  color: #e55473;
}

.signup button {
  background: #e55473;
  border: 0px;
  padding: 15px 30px;
  margin-top: 2em;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
}
